@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Prata&family=Sixtyfour+Convergence&display=swap');


section article div ol li{
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    font-family: "Roboto serif", serif;
    text-align: justify;
    line-height: 200%;
    font-size: 28px;
    font-weight: bold;
    
}