@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Prata&family=Sixtyfour+Convergence&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Serif", serif;
    font-size: 16px;
}

h1{
    font-family: "Prata", serif;
    font-size: 80px;
    text-align: center;
}


.img {
    width: 30%;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    display: block;
}

#video {
    width: 50%;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    display: block;
}

p {
    line-height: 200%;
    padding-bottom: 1.2%;
    padding-top: 1.2%;
}

article p:first-of-type::first-letter {
    font-size: 3em;
}

article {
    padding-right: 10%;
    padding-left: 10%;
}

article h3 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 3em;
}

ol {
    padding: 15px;
}

ol li {
    margin-left: 3%;
    line-height: 200%;
}

h4 {
    padding: 15px;
}