*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

#contenedor{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    padding-top: 30px;
    word-wrap: break-word;
}

#izquierda{
    float: left;
    width: 24%;
}

#centro{
    float: left;
    width: 48%;
    padding-left: 2%;
    padding-right: 2%;
}

#derecha{
    float: left;
    width: 24%;
}

.img{
    height: 200px;
    width: 100%;
}

.imgWH{
    height: 400px;
    width: 100%;
}

#contenedor p{
    padding-top: 10px;
}

#contenedor h3:hover{
    text-decoration: underline;
}

